@model VictorCapelini19092018.Models.Colaborador

@{
    ViewData["Title"] = "Contrata";
}

<h2>Contratar</h2>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Contrata">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataDeContratacao" class="control-label"></label>
                <input asp-for="DataDeContratacao" class="form-control" />
                <span asp-validation-for="DataDeContratacao" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
